@charset "UTF-8";
/* GENERALES */
#html {
  /* etiqueta raíz */
  font-size: 62.5%; }

* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Raleway', sans-serif; }

ul {
  list-style: none; }

.body {
  font-size: 1.4rem;
  font-weight: 300; }

#btn {
  padding: 0;
  color: #d473ff;
  font-size: 1.2rem;
  font-weight: 700; }

#tituloPrincipal {
  color: #292a2e;
  font-size: 4rem;
  text-align: left;
  font-weight: 900;
  margin-top: 3rem;
  margin-bottom: 2rem; }

.tituloSecundarioLight {
  color: #20383b;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 5rem; }

.principalButtom {
  border: none;
  background-color: #d473ff;
  color: white;
  padding: 1.4rem 2.8rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 1rem;
  text-align: center; }

.principalButtom:hover {
  color: #b01df0;
  text-decoration: none;
  border: none;
  background: #d8b8e6;
  font-weight: 500; }

.secondaryButtom {
  border: solid 0.2rem #c677e6;
  background-color: white;
  color: #d473ff;
  padding: 1.3rem 2.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  /* border-color: #4d69db; */
  border-radius: 1rem; }

.secondaryButtom:hover {
  background: #e7e7e7;
  font-weight: 500; }

.subtitulo {
  padding-top: 2rem;
  /* background-color: #ffc1079e; */ }

.subtitulo span {
  padding-top: 2rem;
  font-weight: 500;
  color: #B9B8B8;
}



/* HEADER */
#headerNav {
  z-index: 1;
  box-shadow: 0px 0px 5px #484a52;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

#logoNav {
  font-size: 2rem; }

#headerNav .navbar-toggle {
  font-size: 80%;
  padding:0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.navbar-nav li a {
  float: right;
  display: block;
  color: #e9ecef;
  text-align: center;
  padding: 2.4rem 2.5rem;
  text-decoration: none;
  font-size: 1.7rem;
  border-bottom: 0.3rem solid transparent; }

#dropdownMenu-toggle {
  color: #e9ecef; }

#dropdown-menu {
  background-color: #343a40; }

.navbar-nav li a:hover {
  border-bottom: 0.4rem solid #d473ff; }

@keyframes aparecer {
  0% {
    opacity: 100%; }
  100% {
    opacity: 1%; } }

/* PROYECTOS */

.detalleProyecto{
  margin-top: 7rem;
}

#tituloProyecto{
  margin: 20px 0px;
  color: #343a40;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 10px;
}

.subtituloPresentacion span {
  padding-top: 2rem;
  font-weight: 500;
  color: #B9B8B8;
}

#jumbotronAdd {
  margin-top: 7rem; }

#descripProyectos {
  margin-top: 2rem; }

#imgProyecto {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  padding: 1.5rem; }

#imgProyecto:hover {
  opacity: 0.7; }

/* FORM */
#sectionForm {
  background-color: #f3f3f3;
  height: 80rem;
  padding: 1rem 0;
  margin-top: 2rem; }

.formLabel {
  display: inline-block;
  margin-bottom: 1rem;
  color: black;
  font-size: 1.4rem;
  margin-top: 2rem; }

.inputFormat {
  display: block;
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.1rem solid #ced4da;
  align-content: center; }

@media (max-width: 768px) {
  .inputFormat {
    width: 100%; } }

.inputFormat:hover {
  border: solid 0.1rem #c677e6;
}

.inputFormat:active {
  border: solid 0.2rem #c677e6;
}

.inputFormat:focus {
  border: solid #c677e6;
}

.secondaryButtom {
  border: solid 0.2rem #c677e6;
  background-color: white;
  color: #d473ff;
  padding: 1.3rem 2.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 1rem; }

.secondaryButtom:hover {
  background: #e7e7e7;
  font-weight: 500; }

.carousel {
  margin-bottom: 4rem;
}


/*FOOTER*/
#sectionFooter {
  background-image: linear-gradient(#494b4f, #17181a);
  width: 100%;
  display: inline-block; }

.especial {
  position: absolute;
  bottom: 0px; }

#footerConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuSocial{
  flex-basis: 20%;
  margin: 1rem 0;
}

#titleFooter {
  font-size: 1.2rem;
  color: white;
  display: block;
  text-align: left;
  margin: 2rem 0; }

.itemsFooter {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0px;
  color: white;
  margin: 0; }
  .itemsFooter li a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem "Raleway", sans-serif;
    padding: 1rem 0 1rem 0;
    border-bottom: 0.3rem solid transparent;
    display: block;
    float: left;
    color: #e7b6fc; }

.itemsFooter li a:hover {
  color: #d473ff;
  font-weight: 400; }

/*SECCIÓN CV*/
#buttomCv {
  margin: -50px 0px 20px 50px;
  position: absolute;
  animation-name: efectoCv;
  /* Es el nombre del efecto para después vincularlo*/
  animation-iteration-count: infinite;
  /* Cuánto se repite */
  animation-timing-function: ease-in;
  /* Una función  https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp */
  animation-duration: 2s;
  animation-delay: 0s; }

@keyframes efectoCv {
  0% {
    width: 130px;
    height: 50px; }
  50% {
    width: 160px;
    height: 60px; }
  100% {
    width: 130px; } }

#homeCv {
  background-color: #ffffff;
  width: 100%;
  display: inline-block;
  margin-top: 8rem; }

/*SECCIÓN PROYECTOS */
#homeProyectos {
  margin-top: 8rem; }

.cont {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0px 10px 10px 0px #c7c7c7; }

@media (max-width: 767px) {
  .cont {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0px 10px 10px 0px #c7c7c7;} }

.cont__img {
  width: 350px;
  height: 260px;
  margin-right: 30px; }

@media (max-width: 992px) {
  .cont__img {
    width: 300px;
    height: 220px;
    margin-right: 30px; } }


@media (max-width: 767px) {
  .cont__img {
    width: 220px;
    height: 160px;
    margin: 2rem; } }

.cont__titulo {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: #343a40;
  margin: 2rem; }

.cont__parrafo {
  line-height: 28px;
  font-size: 1.7rem;
  color: #6e6e6e;
  margin: 2rem 5rem 2rem 2rem; }

@media (max-width: 992px) {
  .cont__parrafo {
    line-height: 23px;
    font-size: 1.5rem;
    color: #6e6e6e;
    margin: 2rem 2rem 2rem 2rem;} }

@media (max-width: 767px) {
  .cont__parrafo {
    line-height: 18px;
    font-size: 1.2rem;
    color: #6e6e6e;
    margin: 2rem 2rem 2rem 2rem;} }

.smallBottom {
  border: none;
  background-color: #d473ff;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  height: 60px;
  width: 150px;
  padding: 20px;
  text-align: center; }

.smallBottom--Right {
  position: absolute;
  right: 50px;
  bottom: -25px;
  border: none; }

.smallBottom:hover {
  background: #d8b8e6;
  color: white;
  font-weight: 500; }

.tituloCarousel {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  background-color: #343a40;
  padding: 1rem 0rem;
}

/* SECCIÓN SOBRE MI */

.sobreMi {
  margin-top: 8rem;
  padding: 2rem 1rem;
  margin-bottom: 2rem; }

@media (max-width: 768px) {
  .sobreMi {
    padding: 4rem 2rem; } }

.miPresentacion {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 3rem; }

#imgSobreMi {
  border-radius: 10px;
  padding: 10px; }

#pLight {
  color: #292a2e;
  text-align: left;
  font-size: 1.4rem;
  padding-right: 6rem; }

.subtituloPresentacion {
  margin-bottom: 2rem;
}


/*SECCIÓN CONTACTO*/

.contactDateComplete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.contactDate {
  display: flex;
  flex-direction: column;
}

.imgContact {
  margin-right: 2rem;
}

.titleContact {
 margin-bottom: 0.4rem;
}

.pContact {
 margin: 0;
 font-size: 1.2rem;
}

#jumbotronLess{
  margin-bottom: 0;
  margin-top: 7rem;
 }


}
