/* PROYECTOS */

#jumbotronAdd{
	margin-top: 8rem;
}

#descripProyectos{
	margin-top: 2rem;
}

.imgProyecto{
  	border-radius: 5px;
  	cursor: pointer;
  	transition: 0.3s;
  	padding: 1.5em
}

.imgProyecto:hover{
  	opacity: 0.7;
} 